.env
.env.*
!.env.template
.todo
/dist
/k8s/*-secrets.yaml
/k8s/*-secrets.dev.yaml
/k8s/*-kubeconfig.yaml
/src/controllers/_development/*.ts
/src/config.ts
build/
node_modules/
data/
.git/
.github/
.vscode/
.idea/
*.log
.DS_Store
supabase/
.backup
