.env
.todo
/dist
/k8s/secrets.*.yaml
!/k8s/secrets.template.yaml
/k8s/secrets.dev.yaml
/k8s/*.prod.yaml
/k8s/secrets.yaml
/k8s/*-kubeconfig.yaml
/src/controllers/_development/*.ts
!/src/controllers/_development/messageCreate.template.ts
/src/commands/bots-playground/*.ts
!/src/commands/bots-playground/command.template.ts
/node_modules/
/src/config.ts
/supabase/seed.sql
build/
package-lock.json
